@using StackOverflow.DAL.Entities
@model User
@{
    ViewData["Title"] = "My Voted Question";
}
<partial name="_ResponsePartial" />
@if (Model.QuestionVotes?.Count > 0)
{
    <div class="container-fluid">
        <div class="question-list-message">
        </div>
        <h4>My Voted Questions</h4>

        @foreach (var questionVote in Model.QuestionVotes)
        {
            var question = questionVote.Question;
            <div class="row my-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div class="col-1">

                                <div>
                                    <a class="up-vote" data-id="@question.Id.ToString("N")"><i class=" fa fa-caret-up fa-2x"></i></a>
                                </div>
                                <div>
                                    <a class="down-vote" data-id="@question.Id.ToString("N")"><i class="fa fa-caret-down fa-2x"></i></a>
                                </div>
                            </div>

                            <div class="col-11">
                                <b>
                                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@question.Id.ToString("N")" asp-controller="Question">@question.Title</a>
                                </b>
                                <p>@question.Body</p>
                                @if(question.User.UserName == User.Identity?.Name)
                                {
                                    <div class="d-flex justify-content-end">
                                        <a class="me-2" asp-route-id="@question.Id.ToString("N")" asp-action="Edit" asp-controller="Question">Edit</a>
                                        <a id="deleteButton" href="" data-id="@question.Id.ToString("N")" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                        <partial name="_DeleteModalPartial" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="row">
                                <div class="col-4 d-flex justify-content-start">
                                    Votes: <span class="vote-count-@question.Id.ToString("N")">@question.Votes?.Sum(vote => (int)vote.VoteType)</span>
                                    @if (User.Identity?.Name != null)
                                    {
                                        int myVote = (int?)question.Votes?.Where(x => x.User.UserName == User.Identity?.Name).FirstOrDefault()?.VoteType ?? 0;
                                        <span>
                                            <span title="My Vote" class="my-vote-@question.Id.ToString("N")">
                                                @if (myVote != 0)
                                                {
                                                    <span> (My Vote: @myVote)</span>
                                                }
                                            </span>
                                        </span>
                                    }
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@question.Id.ToString("N")" asp-controller="Question"><i title="Answer" class="fa-regular fa-message"></i> @question.Answers?.Count()</a>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    Asked By: @(question.User != null ? question.User.FirstName : "")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @section Scripts {
    <partial name="_JQueryVoteUpdteScriptPartial" />

    <script>
        $(document).ready(function () {
            $('#deleteButton').click(function () {
                let id = $(this).data('id');
                $('#deleteId').val(id);
                $('#deleteForm').attr('action', '/Question/Delete');
                $('#deleteForm').attr('method', 'post');
            });
            $('#deleteConfirmButton').click(function () {
                $('#deleteForm').submit();
            })
        });
    </script>
    }
}
else
{
    <h3>No Questions You Have Voted</h3>
}