@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using StackOverflow.Web.Models.QuestionModels;
    ViewData["Title"] = "Question Details";
}
@model QuestionDetailsModel
<div class="container mt-4">
    <h4>Question</h4>
</div>
<div class="container question-details">
    <div class="question-list-message">
    </div>
    <partial name="_ResponsePartial" />
        <div class="row my-3">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex">
                    <div class="col-1">

                        <div>
                            <a class="up-vote" data-id="@Model.Question.Id.ToString("N")"><i class=" fa fa-caret-up fa-2x"></i></a>
                        </div>
                        <div>
                            <a class="down-vote" data-id="@Model.Question.Id.ToString("N")"><i class="fa fa-caret-down fa-2x"></i></a>
                        </div>
                    </div>

                    <div class="col-11">
                        <b>@Model.Question.Title</b>
                        <p>@Model.Question.Body</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div class="mr-3">
                        Votes: <span class="vote-count-@Model.Question.Id.ToString("N")">@Model.Question.Votes?.Sum(vote => (int)vote.VoteType)</span>
                    </div>
                    <div>
                        Asked By: @(Model.Question.User != null ? Model.Question.User.FirstName : "")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <h4>Answers: <span class="answer-count"> (@Model.Question.Answers?.Count())</span></h4>
</div>
<div class="container question-list">
    @if(Model.Question?.Answers?.Count()>0)
    @foreach (var answer in Model.Question.Answers)
    {
        <div class="row my-3">
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="col-1">

                            <div>
                                    <a class="up-vote" data-answer="true" data-id="@answer.Id.ToString("N")"><i class=" fa fa-caret-up fa-2x"></i></a>
                            </div>
                            <div>
                                    <a class="down-vote" data-answer="true" data-id="@answer.Id.ToString("N")"><i class="fa fa-caret-down fa-2x"></i></a>
                            </div>
                        </div>

                        <div class="col-11">
                                <p>@answer.Body</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-white">
                        <div class="mr-3">
                                Votes: <span class="vote-count-@answer.Id.ToString("N")">@answer.Votes?.Sum(vote => (int)vote.VoteType)</span>
                        </div>
                        <div>
                                Answered By: @(answer.User != null ? answer.User.FirstName : "")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="mt-5">
                <form asp-action="Create" asp-controller="Answer" asp-area="" method="post" asp-antiforgery="true">
                    <div class="mb-3">
                        <input type="hidden" name="QuestionId" value="@Model.Question.Id" />
                        <input type="hidden" name="UserId" value="@Model.Question.User.Id" />
                        <label for="Body" class="form-label fw-bolder">Your answer</label>
                        <textarea class="form-control" name="Body" for="Body" rows="4"></textarea>
                        <span for="Body" class="text-danger"></span>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_JQueryVoteUpdteScriptPartial" />
}