@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using StackOverflow.Web.Models.QuestionModels;
    ViewData["Title"] = "Questions";
}
@model QuestionListModel

<div class="container">
    @foreach(var question in Model.Questions)
    {
        <div class="row my-3">
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="col-1">

                            <div>
                                <a class="up-vote" data-id="@question.Id.ToString("N")" ><i class=" fa fa-caret-up fa-2x"></i></a>
                            </div>
                            <div>
                                <a class="down-vote" data-id="@question.Id.ToString("N")" ><i class="fa fa-caret-down fa-2x"></i></a>
                            </div>
                        </div>

                        <div class="col-11">
                            <b>
                                <a class="text-decoration-none" asp-action="Detials" asp-route-id="@question.Id.ToString("N")" asp-controller="Question">@question.Title</a>
                            </b>
                            <p>@question.Body</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span class="mr-3">
                            Votes: @question.Votes?.Sum(vote => (int)vote.VoteType)
                        </span>
                        <span class="mr-3">
                            Answers: @question.Answers?.Count()
                        </span>
                        <span>
                            Asked By: @(question.User != null ? question.User.FirstName : "")
                        </span>
                    </div>
                </div>        
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".up-vote").on("click", function (e) {
                $.ajax({
                    url: '@Url.Action("UpdateVote", "Question")', 
                    type: 'POST',
                    headers: {
                        'RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: {
                        questionId: $(this).data('id'),
                        voteType: "UpVote" 
                    },
                    success: function (response) {
                        console.log(response);
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        
                    }
                });
            });

            $(".down-vote").click(function (e) {
                $.ajax({
                    url: '@Url.Action("UpdateVote", "Question")',
                    type: 'POST',
                    headers: {
                        'RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: {
                        questionId: $(this).data('id'),
                        voteType: "DownVote"
                    },
                    success: function (response) {
                        console.log(response);
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {

                    }
                });
            });
        });

    </script>
}