@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using StackOverflow.Web.Models.QuestionModels;
    ViewData["Title"] = "Questions";
}
@model QuestionListModel
<div class="container mt-4">
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="search-addon"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="container question-list">
    <div class="my-3 row">
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Question">Ask Question</a>
        </div>
    </div>
    <div class="question-list-message">

    </div>
    <partial name="_ResponsePartial" />
    @foreach(var question in Model.Questions)
    {
        <div class="row my-3">
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="col-1">

                            <div>
                                <a class="up-vote" data-id="@question.Id.ToString("N")" ><i class=" fa fa-caret-up fa-2x"></i></a>
                            </div>
                            <div>
                                <a class="down-vote" data-id="@question.Id.ToString("N")" ><i class="fa fa-caret-down fa-2x"></i></a>
                            </div>
                        </div>

                        <div class="col-11">
                            <b>
                                <a class="text-decoration-none" asp-action="Details" asp-route-id="@question.Id.ToString("N")" asp-controller="Question">@question.Title</a>
                            </b>
                            <p>@question.Body</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div class="mr-3">
                            Votes: <span class="vote-count-@question.Id.ToString("N")">@question.Votes?.Sum(vote => (int)vote.VoteType)</span>
                            @if (User.Identity?.Name != null)
                            {
                                int myVote = (int?)question.Votes?.Where(x => x.User.UserName == User.Identity?.Name).FirstOrDefault()?.VoteType??0;
                                <span class="ml-3">
                                    <span title="My Vote" class="my-vote-@question.Id.ToString("N")">
                                        @if (myVote != 0) 
                                        { 
                                            <span>(My Vote: @myVote)</span>
                                        }
                                    </span>
                                </span>
                            }
                        </div>
                        <div class="mr-3">
                            Answers: @question.Answers?.Count()
                        </div>
                        <div>
                            Asked By: @(question.User != null ? question.User.FirstName : "")
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    }
</div>

@section Scripts{
    <partial name="_JQueryVoteUpdteScriptPartial" />
}